﻿@using ForestHealth.Web.Utilities

<!--[if HTML5]><![endif]-->
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <!--[if !HTML5]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@Url.Content("~/favicon.png")" />

    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/SMART/main.css")">
    @RenderSection("headStyles", required: false)
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")"></script>
    @RenderSection("headScripts", required: false)
</head>

<body>
    <!--[if lt IE 7]>
           <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
       <![endif]-->
    @{string pageStyleClass = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "es" ? "pageInSpanish" : "";}
    <div class="page @pageStyleClass">
        <header class="@ViewBag.headerStyleClass">
            <div role="navigation">
                @RenderSection("headerNav", required: false)
                @{
                    var userInfoCookie = FormsAuthenticationCookieHelper.GetUserInfoCookie();
                }

            @if (userInfoCookie != null)
            {
                string OrgAbbv = string.IsNullOrEmpty(userInfoCookie.OrganizationStateAbbv) ? "" : "(" + userInfoCookie.OrganizationStateAbbv + ")";

                <ul id="userBar">
                    <li class="username">Logged in as @userInfoCookie.DisplayName @OrgAbbv</li>
                    <li><a title="ForMAP" href="@Url.Content("~/")" >ForMAP</a></li>
                    <li><a title="Help" href="http://www.formap.info" target="_blank">Help</a></li>
                </ul>
            }
            </div>
        </header>
        <section id="main" role="main">
            @RenderBody()
        </section>
        <footer id="pageFooter">
            <div>
                <span>@ViewBag.footerTitle</span>
                <span><a class="tg" href="http://www.timmons.com/">Powered by Timmons Group</a></span>
                <span class="version">Version blah Revision blah blah </span>
            </div>
        </footer>
    </div>

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>          window.jQuery || document.write('<script src="/Scripts/jquery-2.2.0.min.js"><\/script>')</script>

    @RenderSection("bottomScripts", required: false)
    @RenderSection("bottomStyles", required: false)
</body>
</html>
