﻿@{
    var moduleTitle = "Forest Health Project Accomplishments";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.headerStyleClass = "lasrProjectHeader";
    ViewBag.footerTitle = moduleTitle;    
}

@section headStyles{
    @RenderSection( "headStyles", false )
}

@section headScripts{
    @RenderSection( "headScripts", false )
}

@section headerNav{
    @RenderSection("headerNav", false)
    
    <a title="aTitle"  alt="logo" href=""><p class="smartWEB">ForHealth<img alt="usfsLogo" src="~/Content/images/usdaUSFSlogos.png"/></p></a>
}

@RenderBody()

@section bottomScripts{
    @RenderSection("bottomScripts", false)
}

@section bottomStyles{
    @RenderSection("bottomStyles", false)
}