﻿.adminTable {
    width: 890px;
    border-radius: 10px;
    padding: 5px;
    background-color: #F8F8EC;
}

    .adminTable thead tr {
        background-color: #C8D7D9;
        padding: 3px 0 5px;
    }

        .adminTable thead tr th:first-child {
            border-top-left-radius: 5px;
        }

        .adminTable thead tr th:last-child {
            border-top-right-radius: 5px;
        }

    .adminTable th, .adminTable td {
        border: none;
        padding: 3px;
    }

    .adminTable tr.inactiveOutcome, .adminTable tr.inactiveOutcome:nth-child(odd) td {
        background-color: #F09687;
    }

    .adminTable tbody tr:nth-child(odd) td {
        background-color: #F1F2DA;
    }

.adminTableCommand {
    float: right;
    font-size: 17px;
    margin: 10px 15px 0px 0px;
}

.adminTableHeader {
    float: left;
    text-indent: 15px;
}