﻿.container {
    overflow: hidden;
}

.dashboardCenterDiv1 {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.dashboardCenterDiv2 {
    height: 100px;
    float: left;
    position: relative;
    left: 50%;
}

.dashboardCenterDiv3 {
    border-radius: 10px;
    text-align: center;
    background-color: #F8F8EC;
    float: left;
    position: relative;
    left: -50%;
    padding: 5px 25px 15px;
}

.dashboardBtn {
    width: 150px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    margin: 0px 15px;
}
