.collapsableFieldsets span {
    width: 10px;
    height: 10px;
    background: url("../themes/custom-theme/images/ui-icons_222222_256x240.png") -19px -132px transparent no-repeat;
    display: block;
    position: relative;
    top: -15px;
    left: -15px;
    padding: 2px;
    cursor: pointer;
}
span.expanded {
 background-position: -67px -18px;
}
span.collapsed {
 background-position: -36px -19px;
}
.collapsableFieldsets textarea {
    margin: -10px 0 20px -2px;
    width: 200px;
}
.collapsableFieldsets {
    width: 360px;
}
.collapsableFieldsets .rowContainer {
    overflow: visible;
    min-height: 30px;
    margin: 0 0 0 75px;
    width: 280px;
    padding: 0px 3px;
}
.collapsableFieldsets .rowContainer label {
    padding:0px;
}
#objectives label {
    float: none;
}
label.tooltipContainer.invalid {
    float: left;
}
textarea.primaryObjectives {
    width: 660px;
    max-width: 800px;
    max-height: 300px;
    height: 150px;
}

.primaryGoalsContainer {
    height: initial;
    max-height: 300px;
    margin-left: 55px;
}
.primaryGoalsContainer .rowContainer {
    padding: 0px 15px 3px 5px;
    float:left;
}