.rowContainer.singleLine {
    min-height: 30px;
}

.rowContainer.textareaRow {
    height: auto;
    margin-left: 80px;
}

    .rowContainer.textareaRow.areaRowStacked {
        height: auto;
        margin-left: 60px;
    }
/*.rowContainer.formActive{background-color: #F5F5F5; border: none}*/
label.tooltipContainer.invalid.singleLineErr {
    float: left;
    margin: 5px 0px 0px 5px;
    padding-right: 0px;
}

textarea {
    width: 330px;
    max-width: 270px;
    z-index: 1;
    overflow-y: visible;
}

.genInfo.saveArea {
    margin-top: 10px;
}

.genInfoSave .saveAnd {
    margin-left: 0px;
}

.wideTextArea {
    width: 680px;
    max-width: 680px;
    z-index: 1;
}

label.tooltipContainer.invalid {
    font-weight: bold;
}

.collapsableFieldsets .rowContainer.formInvalid textarea {
    margin-bottom: 0px;
}

.collapsableFieldsets .rowContainer label.tooltipContainer.invalid {
    padding: 2px 0px 2px 20px;
}

input[type="checkbox"] {
    margin-top: 8px;
}

.valueSpan {
    float: left;
    margin: 10px 0px 0px 5px;
}

.rowContainer .singleLineInput {
    margin-left: 5px;
    float: left;
}

.rowContainer.singleLine label {
    width: 200px;
}

.rowContainer .singleLineInput.numericSingleLineInput {
    width: 220px;
}

.rowContainer.singleLine label.numericSingleLineErr {
    width: 220px;
}

.checkLabel {
    margin-left: 5px;
    float: left;
}

.pCheckLabel {
    margin-left: 10px;
    float: left;
}

.dateTooltip {
    margin-top: 30px;
}

.ie8 .rowContainer label.rowLabel.twoLineLabel, .ie9 .rowContainer label.rowLabel.twoLineLabel {
    width: 200px;
}

.rowContainer input.date {
    position: absolute;
    width: 210px;
}

.rowContainer input.SMARTdate {
    position: absolute;
    width: 210px;
}

.rowContainer input.nextDate {
    position: absolute;
    width: 210px;
}

.rowContainer select {
    width: 260px;
}

.ui-datepicker-trigger {
    position: absolute;
    margin-left: 230px;
}

p {
    margin-left: 60px;
}

h2 {
    margin-left: 40px;
}

    h2.viewOnlyh2 {
        margin-left: 0px;
    }

label.viewOnlyLabel {
    margin-left: 10px;
}

.container fieldset {
    border-bottom: 1px solid transparent;
}

.twoLineRow {
    height: auto;
}

.navLinks {
    width: 940px;
    margin: 0 auto;
}

.shortNav {
    width: 910px;
    margin: 0;
}

.rowContainer label.rowLabel.twoLineLabel {
    width: 200px;
}

fieldset section {
    float: left;
}

.twoLineRow input[type="checkbox"] {
    margin-top: 15px;
}

.twoLineRow label.checkLabel, .twoLineRow label.pCheckLabel {
    margin-top: 7px;
}

fieldset legend, .form-stacked legend {
    padding-left: 60px;
}

.ui-tooltip-content {
    font-size: 12px !important;
    line-height: 16px;
}

.btn.saveAnd.saveAndDetails {
    margin-left: 4px;
}

h4 {
    margin: -5px 0 0 5px;
    color: #91520F;
}

    h4 span {
        font-size: 12px;
        font-weight: normal;
    }

.GenInfoSpans {
    margin: 0 0 8px 10px;
    min-width: 110px;
    float: left;
}

    .GenInfoSpans span {
        display: block;
    }

.GenInfoDataSpan {
    max-height: 17px;
    overflow: hidden;
    font-size: 14px;
    color: #000000;
}

.GenInfoLabelSpan {
    font-size: 12px;
    color: Gray;
}

    .GenInfoLabelSpan.GenInfoCompartmentSpan {
        min-height: 19px;
    }

.tooltipWithLessPadding .ui-tooltip-content {
    padding: 1px !important;
}

.ui-tooltip-content table {
    margin-bottom: 0px;
    border: none;
}

    .ui-tooltip-content table th + th, table td + td {
        border-left: none;
    }

    .ui-tooltip-content table th {
        padding: 3px 5px;
        background-color: #F1F2D9;
    }

        .ui-tooltip-content table th.labelTD {
            border-right: 1px solid #DDD;
        }

    .ui-tooltip-content table td {
        padding: 3px 0px;
        border-top: none;
    }

        .ui-tooltip-content table td.labelTD {
            padding: 3px 5px;
            border-top: none;
            border-right: 1px solid #DDD;
            background-color: #F1F2D9;
        }

        .ui-tooltip-content table td img {
            margin-left: 40%;
        }
