﻿.visual_search {
    margin: 15px 0px;
    min-height: 32px;
}
.visual_search.span10 {
    margin-top: 0;
}
.VSearchLabel {
    margin-left: 20px;
}
.searchKeys {
    width: 890px;
    position: absolute;
    top: 15px;
    height: 20px;
}
.autocompleteSearch {
    width: 360px;
    float:left;
    margin: 0 10px 10px 0px;
    padding:10px;
    background: #EDEECC;
    box-shadow: inset 0px 1px 6px #bb9;
    border-radius: 5px;
}
.searchSubtabs{
    width:900px;
    float: left;
}
.searchSubtabs select{
    padding:1px;
}
.searchSubtabsDiv{
    width: 500px;
    margin-bottom: 20px;
    height: 120px;
}
.searchTooltipDiv{
    width: 12px;
    height: 12px;
    border-radius:6px;
    position: relative;
    background: url("../themes/custom-theme/images/ui-icons_222222_256x240.png") -49px -146px transparent no-repeat;
    float: left;
    background-color: #BFBB8D;
    padding: 1px;
}
.tooltipContent{
    display:none;
}
.ui-tooltip-content{
    font-size: 12px !important;
    line-height: 16px;
}
.ui-tooltip.ui-tooltip-wide700, .qtip.ui-tooltip-wide700  {
    width:700px !important;
    max-width:700px !important;
}
.autocompleteSearchTooltip{
    margin: -19px 0 0 265px;
}
.visualSearchTooltip {
    margin: -17px 0 0 110px;
    cursor:pointer;
}
.dashboardVisualSearchTooltip {
    margin: -10px 0 -5px 185px;
}
.ie9 .dashboardVisualSearchTooltip {
    margin: -10px 0 -5px 185px;
}
label.legendLink {
    margin: 5px 0px 0px 40px;
    background-color:#228EC3;
}
.ui-tooltip.ui-tooltip-searchlegend .ui-tooltip-content{
    padding:0px;
}
ul.legendList{
    list-style:none;
    margin: 0px;
    background-color: #f1f2da;
    padding:3px 6px;;
}
ul.legendList li{
    margin:6px 0px;
    color:#333;
    font-weight:bold;
}
ul.legendList li .searchLegendItem{
    height:10px;
    width:10px;
    background-color:#fff;
    display:inline-block;
    margin:0px 5px -3px 0px;
    border-radius:2px;
}
.searchSubtabDiv{
    width: 85px;
    height: 17px;
    text-align:center;
    padding: 5px;
    margin-bottom: 5px;
    display:block;
}
.subtabDivContainer{
    height:35px;
    width:500px;
    overflow:hidden;
}
.spatialSearchError {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-top: -5px;
}
.searchSubtabDiv.btn {
    text-align: right;
    margin-right: -250px;
    height: 12px;
    padding: 9px;
    font-weight: bold;
    width: 95px;
    float: right;
    font-size: 12px;
}
.searchSubtabDiv.btn.searchSubtabDivNoData {
    margin-right: 0px;
}
.subtabDivContainer.datesInputsDivContainer{
    height:70px;
}
.searchSubtabsInputsDiv {
    display: block;
    float:left;
    width: 120px;
    border-radius: 5px;
    padding: 2px;
    background-color: #F8F8EC;
    height: 85px;
    margin-right:10px;
}
.searchSubtabsInputsDiv div {
    float:left;
}
.searchSubtabsInputsDiv div.removeSearchInputsDiv  {
    float:right;
}
.removeSearchInputsDiv {
    cursor:pointer;
    width: 12px;
    height: 12px;
    margin: 8px 6px 0 0;
    background: url("../themes/custom-theme/images/ui-icons_222222_256x240.png") -34px -194px transparent no-repeat;
}
.searchSubtabsInputsDiv select {
    margin-top: 0px;
    width:105px;
    height:28px;
    line-height:24px;
}
.searchSubtabsInputsDiv input {
    margin-top: 0px;
    width:65px;
    height:18px;
    line-height:15px;
}
.searchSubtabsInputsDiv label {
    width:55px;
    padding-top: 4px;
    margin: 3px 5px;
    float: left;
    font-weight: normal;
    text-align: left;
    line-height: 13px;
}
.searchSubtabsInputsDiv label.searchSubtabLongLabel{
    width:90px;
}
.searchSubtabsInputsDiv label.searchSubtabShortLabel{
    width:22px;
    margin: 3px 7px;
}
.searchSubtabsInputsDiv label.searchSubtabBetweenLabel{
    width:50px;
}
#datesInputsDiv {
    width: 307px;
}
#sortInputDiv {
    height: 85px;
    margin-right: 0px;
}
#sortInputDiv select {
    margin-left: 5px;
    width: 112px;
}
#sortInputDiv label {
    display:none;
}
#sortInputDiv label.sortOrderLabel {
    height: 15px;
    width: 20px;
    border-radius: 10px;
    border: 2px solid #AA8;
    background: url("../themes/custom-theme/images/ui-icons_222222_256x240.png") 3px -15px transparent no-repeat;
    margin: 5px 0px 0px 25px;
    cursor: pointer;
}
#sortInputDiv label.sortOrderLabel input {
    display:none;
}
#sortInputDiv label.sortOrderLabel.sortOrderLabelDescending {
    background-position: -62px -14px;
}
#sortInputDiv label.sortOrderLabel.showSortOrderLabel {
    display:block;
}
#sortInputDiv label.sortOrderLabel.selectedSortOrderLabel {
    background-color: #80FF80;
}
.searchSubtabs p {
    text-align: center;
    font-weight: bold;
    margin-bottom: 3px;
}
.autocompleteSearchContainer {
    height: 25px;
}
.autocompleteInput {
    width:350px;
    line-height:11px;
    font-size:11px;
}
.ie8 .autocompleteInput, .ie9 .autocompleteInput {
    width:350px !important;
}
.selectedAutocompleteInputs{
    width:410px;
    overflow-y:auto;
    margin:10px 0 0 5px;
    border:none;
    background:none;
    max-height: 100px;
}
.selectedAutocompleteInputs ul{
    margin-bottom:5px;
}
.activitiesAutocompleteSearch .selectedAutocompleteInputs{
    width:406px;
}
#selectedSpatialInputs label, #selectedActivityInputs label{
    padding:0;
}
.initialAutocompleteSearchInfoLabel {
    padding:0;
    color: gray;
    font-size: 12px;
}
ul.selectedAutocompleteInputsList {
    list-style-type: none; 
}
.selectedAutocompleteInputsList li.clearfix  {
    padding:3px;
    margin: 0 0 0 -25px;
    min-height: 21px;
    background-color: #F1F2DA;
    position:relative;
}
.selectedAutocompleteInputsList li label  {
    width:360px;
    font-weight: normal;
    line-height: 22px;
    padding-top: 0;
}
.activitiesAutocompleteSearch .selectedAutocompleteInputsList li label  {
    width:360px;
}
.selectedAutocompleteInputsList li.altListItem  {
    background-color:#C8D7D9;
}
.removeAutocompleteSearchItem{
    cursor: pointer;
    width: 12px;
    height: 12px;
    position: absolute;
    background: url("../themes/custom-theme/images/ui-icons_222222_256x240.png") -34px -194px transparent no-repeat;
    top: 50%;
    margin-top: -6px;
    right: 5px;
}
.searchSubmitBtn {
    margin-top: 7px;
    float: right;
}

.results {
    display: block;
    float: left;
    width: 900px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    background-color: #F8F8EC;
    height: auto;
}
.summaryHeader {
    float: left;
    margin: -3px 5px 0 5px;
}
.resultsPane {
    float: left;
    position: relative;
    width: 25%;
}
.resultsPane .results {
    width: 100%;
    float: left;
}
.results h6 {
    line-height: 33px;
    width: 250px;
    float: left;
    color: #404040;
    font-weight: normal;
    margin-left: 10px;
    text-transform:none;
}
.results h6.noSearchResultsP {
    width: 100%;
    text-align:center;
}
.pagination .disabled a, .pagination .disabled a:hover {
    cursor: default;
}
.resultsPane .resultsList {
    list-style: none;
    margin: 0;
    max-height: 430px;
    overflow: auto;
    min-height: 20px;
    border-top:1px solid gray;
}
.resultsList ul {
    margin: 0;
    padding: 0;
}
.resultsList li {
    list-style: none;
    color: #333;
    cursor: pointer;
    border-bottom:1px solid gray;
}
.resultsList .resultItem {
    margin: 0 0 0px;
    position: relative;
}
.resultsList .resultItem.resultItemSelected {
    background-color: #A3F4FF;
}
.resultsList .resultItem.resultItemHighlighted {
    background-color: #80FF80;
}
.resultItem a {
    font-size: 13px;
}
.resultItemIconDiv {
    width: 14px;
    height: 14px;
    float: left;
    margin: 2px 5px;
    background: url("../themes/custom-theme/images/ui-icons_222222_256x240.png") -17px -130px transparent no-repeat;
    border: 1px solid gray;
    border-radius: 8px;
    overflow: hidden;
    border-image: initial;
    float: right;
}
.resultItemIconDiv.zoomToPlan {
    background-position: -129px -114px;
}
.resultItemIconDiv.noGeometry {
    background-position: -81px -130px;
}
.resultItemIconDiv.Active {
    background-position: -65px -146px;
}
.resultItemIconDiv.Draft {
    background-position: -65px -114px;
}
.resultItemIconDiv.Inactive {
    background-position: -47px -49px;
}
.resultItemIconDiv.In.Progress {
    background-position: -1px -162px;
}
.resultItemIconDiv.Pending.Approval {
    background-position: -47px -49px;
}
.resultItemIconDiv.Pending.Deletion {
    background-position: -33px -145px;
}
.resultItemIconDiv.Implemented {
    background-position: -17px -130px;
}
.resultItemIconDiv.Recommended {
    background-position: -49px -130px;
}
.resultItemIconDiv.PlanActivity {
    background-position: -1px -114px;
}
.resultItemIconDiv.StandActivity {
    background-position: -16px -114px;
}
.resultItemIconDiv.PointActivity {
    background-position: -97px -146px;
}
.resultItemIconDiv.LineActivity {
    background-position: -33px -226px;
}
.resultID {
    font-size: 79%;
}
.resultDetails {
    padding: 1px 5px;
}
.resultDetails p.resultDetailsHeader {
    padding: 5px 0px 3px;
    margin: 0 0 2px;
}
.resultDetails .resultDetailsHeader a{
    font-size:16px;
}

.resultDetails p {
    clear: both;
    margin: 0 0 4px;
    font-size: 90%;
    line-height: 12px;
    text-align: left;
}
.resultDetails p.tabularDateP {
    width:80px;
    float: left;
}
.resultDetails .category {
    font-size: 90%;
    color: #999;
}
.spinnerDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: #000;
    z-index: 10000;
    opacity: 0.5;
}
.colOne { 
}
#noResults {
    text-align: center;
    font-style: oblique;
    color: #444;
}
.next {
    float: right;
}
.prev {
    float: left;
}
.pagination {
    margin: 0px 0 0;
}
.pagination ul {
    float: none;
    border: none;
}
.pagination li {
}
.pagination a {
    border: none;
}
.resultsSummary dd {
    float: right;
    margin-right: 15px;
}
.resultsSummary .category {
    color: #777;
    font-size: 90%;
}
.resultsSummary dt {
    margin: 0 0 10px 10px;
}
.totalsList {
    float: right;
    margin: 4px 5px 0px;
    display: block;
    padding: 3px;
    border-bottom: 1px solid gray;
}
.totalsList li {
    float: left;
    margin-right: 10px;
    color: #444;
    line-height: 17px;
}

.mapResultsSection{
    width: 73%;
    height: 481px;
    float: right;
    background: white;
    box-shadow: inset 0px 1px 6px #bb9, 1px 1px 1px #fff;
    border-radius: 1px;
    padding: 3px;
}
#map {
    width: 657px;
    height: 480px;
    position:absolute;
    overflow:hidden;
}
#next {
display: none;
}

.subtabDivContainer.subtabImplementationDivContainer {
    float: right;
    width: 305px;
    left: 510px;
}
.datesMaxInputDiv {
    left: 265px;
}
.datesSelectDiv {
    top: 30px;
}
.InvalidsearchSubtabsInputsDiv{
    background-color: #f1a794;
}
.InvalidSearchInput{
    border:1px solid red;
}

.ui-menu {
    z-index: 10000 !important;
}
.spatialAutocompleteSpinner {
    width: 20px;
    height: 20px;
    position: absolute;
    float: right;
    margin-top: 5px;
    margin-left: 333px;
}
.spatialAutocompleteSpinner.spatialSpinnerActivityPage {
    margin-left: 382px;
}


#SearchMapResultInfo {
    min-width: 135px;
    bottom: 0px;
    right: 0px;
    background-color: #F1F2D9;
    border-top-left-radius: 10px;
    border-top: 5px solid #BFBB8D;
    border-left: 5px solid #BFBB8D;
    position: absolute;
    z-index: 10000;
    display:none;
}
.showHideMapDialog span {
    width: 10px;
    height: 10px;
    background: url("../themes/custom-theme/images/ui-icons_222222_256x240.png") -115px -51px transparent no-repeat;
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    padding: 2px;
    cursor: pointer;
    border: 2px solid #BFBB8D;
    border-radius: 0px 0px 4px 0px;
    background-color: #BFBB8D;
    border-image: initial;
}
.showHideMapDialog span.hide {
    background-position: -48px -50px;
}
#SearchMapResultInfo .rowDiv {
    width: 100%;
}

.MapSelectionTitle{
    text-align: center;
    color: black;
    padding: 0px 5px 5px 5px;
    font-size: 17px;
    margin: 0px 5px 5px 5px;
    border-bottom: 1px solid black;
}
.MapSelectionDiv {
    float:left;
    margin: 10px;
}

.MapSelectionDivPrimary {
    max-height: 15px;
    font-size: 15px;
    color: #000;
}
.MapSelectionDivSecondary {
    max-height: 12px;
    font-size: 12px;
    color: gray;
}

.VS-interface.ui-autocomplete {
    width: auto !important;
}
.VS-interface.ui-autocomplete {
    opacity:1;
}

.ui-autocomplete {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}

#reportsLink {
    float: right;
    margin: 0px 15px 0px 0px;
}
#reportModalBody{
    min-height:220px;
    padding:15px;
}
#reportModalBody ul {
    margin: 0px;
    list-style: none;
}
#reportModalBody ul#reportTypeList {
    width: 250px;
    float: left;
}
#reportModalBody ul.reportFormatList {
    width: 170px;
    float: right;
    margin-right: 35px;
}
#reportModalBody ul.reportFormatList.mapReportFormatList {
    display:none;
    width: 210px;
}
#reportModalBody li {
    width: 90%;
    float: left;
    margin: 0px 10px;
}
#reportModalBody .reportFormatList li {
    width: 120px;
    margin-left:25px;
}
#reportModalBody .reportFormatList.mapReportFormatList li {
    width:200px;
    margin-left:5px;
}
#mapReportFormatList li.formatLi label{
    width:140px;
    margin-left:35px;
}
#mapReportFormatList li.mapTitleLi input{
    margin-left:35px;
    width:130px;
}
#reportModal label.mapInputLabel {
    font-weight: bold;
    margin-left:35px;
    width:100%;
}
input[name='reportType'], input[name='exportFormat'], input[name='paperSize'] {
    display: none;
}
.reportTypeLabel, .reportFormatLabel {
    height: auto;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    margin: 3px 10px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    background-color: #F1F2DA;
    border-radius: 5px;
}
.reportFormatLabel.mapSizeLabel {
    width: 75px;
    float: left;
    margin: 3px 5px 0px 0px;
}
.reportFormatLabel.mapSizeLabel.initialPaperSizeLabel {
    margin-left: 35px;
}
.reportTypeLabel:hover, .reportFormatLabel:hover {
    color: #0C0;
}
.reportTypeLabel.selectedReportTypeLabel, .reportFormatLabel.selectedReportFormatLabel {
    background-color: #59AF60;
    color: #fff;
}
.reportTypeLabel.selectedReportTypeLabel:hover, .reportFormatLabel.selectedReportFormatLabel:hover {
    color: #000;
}
.modal-footer .btn {
    float: right;
    margin: 0px 8px;
}


.modal.vsHelpModal {
    width:620px;
    display:none;
}
.vsHelpModal .modal-body {
    max-height: 450px;
    overflow: auto;
}
.vsHelpModal .modal-body p {
    font-size: 15px;
    margin: 20px 0px;
    line-height: 21px;
}
.vsHelpModal .modal-body p.firstP {
    margin-top:0px;
}
.vsHelpModal .modal-body em {
    font-size: 15px;
    color: #404040;
}
.vsHelpModal .modal-body em.bold {
    font-style: normal;
    font-weight: bold;
}
.vsHelpModal .modal-body em.underline {
    font-style: normal;
    text-decoration:underline;
}
.vsHelpModal .modal-body em.footnote {
    font-size: 13px;
}
.vsHelpModal th {
    background-color: #F1F2DA;
}
.vsHelpModal th, .vsHelpModal td {
    padding: 3px 8px;
}
.vsHelpModal th.leftTH {
    width:180px;
}
.vsHelpModal li {
    line-height: 20px;
    font-size: 14px;
    color: #404040;
}



/*
 * jQuery UI Menu 1.8.16
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
*/
.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	clear: left;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
}


/*
 * jQuery UI Datepicker 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; font-size:0em; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}


.ui-datepicker-trigger{
    height:21px;    
    margin-left:5px;
    position: relative;
    top: 3px;
}
#ui-datepicker-div {
    z-index:999 !important;
}




/* Interaction states
  ---------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #cbc7bd; background: #f8f7f6; font-weight: normal; color: #654b24; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #654b24; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #654b24; background: #48505b; font-weight: normal; color: #ffffff; }
.ui-state-hover a, .ui-state-hover a:hover { color: #ffffff; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #d9d6c4; background: #eceadf; font-weight: normal; color: #140f06; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #140f06; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #b2a266; background: #f7f3de url(images/ui-bg_diagonals-small_50_f7f3de_40x40.png) 50% 50% repeat; color: #3a3427; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #3a3427; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #681818; background: #b83400 url(images/ui-bg_diagonals-thick_20_b83400_40x40.png) 50% 50% repeat; color: #ffffff; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #ffffff; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #ffffff; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: normal; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: 1; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 1px; -webkit-border-top-left-radius: 1px; -khtml-border-top-left-radius: 1px; border-top-left-radius: 1px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 1px; -webkit-border-top-right-radius: 1px; -khtml-border-top-right-radius: 1px; border-top-right-radius: 1px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 1px; -webkit-border-bottom-left-radius: 1px; -khtml-border-bottom-left-radius: 1px; border-bottom-left-radius: 1px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 1px; -webkit-border-bottom-right-radius: 1px; -khtml-border-bottom-right-radius: 1px; border-bottom-right-radius: 1px; }





.searchError>p {
    margin: 15px 0;
}