﻿
.widgetsSection {
    position:relative;
    float: left;
    left:50%;
}
.widgetsInnerSection {
    position:relative;
    float: left;
    left:-50%;
}
.widgetDiv {
    position: relative;
    border-radius: 10px;
    padding: 5px;
    background-color: #F8F8EC;
    float: left;
    margin: 5px;
    width: 430px;
    height: 180px;
}
.widgetDiv h4 {
    margin: -5px 0 0 5px;
    color: #91520F;
    float: left;
    height: 28px;
}
.widgetDiv .pagination {
    float:right;
    width:170px;
    height:20px;
}
.widgetDiv .pagination a {
    line-height:22px;
}
.widgetTableDiv {
    border: 2px solid #A5BEC0;
    border-radius: 2px;
    overflow: hidden;
    float: left;
    width: 425px;
}
.widgetTableHeader {
    height:25px;
    background-color: #A5BEC0;
    color:#262626;
}
.widgetDiv span {
    float: left;
    width: 50%;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
}
.widgetDiv .leftAlign  {
    text-align: left;
}
.widgetDiv h4 span {
    float: none;
    font-size: 14px;
    font-weight: normal;
}
.widgetDiv span.span1 {
    margin: 0;
    width: 10%;
}
.widgetDiv span.span2 {
    margin: 0;
    width: 20%;
}
.widgetDiv span.span4 { 
    margin: 0;
    width: 40%;
}
.widgetDiv span.span5 { 
    margin: 0;
    width: 50%;
}
.widgetDiv span.span6 { 
    margin: 0;
    width: 60%;
}
.widgetDiv span.narrowSpan {
    width: 25%;
}
.widgetTableBody span{
    color:#404040;
    font-weight:normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.widgetTableBody {
    list-style-type: none;
    margin: 0px;
}
.widgetTableBody li {
    height: 25px;
    width: 430px;
}
.widgetTableBody li.altListItem {
    background-color: #F1F2DA;
}

.bigWidget.widgetDiv {
    width: 860px;
    height: auto;
}

.bigWidget .widgetTableDiv {
    width: 850px;
}

.bigWidget .widgetTableBody li {
    width: auto;
}

