﻿@model ForestHealth.Web.Models.OutputModels.Home_IndexModel
@*@model System.Collections.Generic.IEnumerable<ForestHealth.Domain.Entities.LuCounty>*@

@{
    ViewBag.Title = "Forest Health Project Accomplishments";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}
@section headStyles
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Shared/dashboard.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Shared/widget.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/portal.css")">
}

<div class="container">
    <div class="dashboardCenterDiv1">
        <div class="dashboardCenterDiv2">
            <div class="dashboardCenterDiv3">

                <p><strong>Forest Health Project:</strong></p>
                <a type="button" class="btn info dashboardBtn" href="@Url.Action("CreateNew", "ForestHealthProject")">Create</a>

                <div class="row">
                    @*@foreach (var test in Model)
                    {
                        @: @test.Name <br />
                    }*@

                    @*@Model.someCounty.Name*@

                    @*@Model.userInfoAgg.LastName*@

                </div>
            </div>
        </div>
    </div>
</div>



@section bottomScripts {

}
