label {
    width:auto; 
    font-weight :normal;
    text-align:left
}      
#Zip, #ZipCode, #AddressZipCode {width:75px}
#StateId, #AddressStateId {width: 150px}
.pInput.pInputZipCode{
    width:75px
}
.pInput.pInputState{
   width:150px 
}
#ZipRow {margin-left:5px;padding-right:10px;}
.rowContainer {min-height: 66px;
               border: 1px solid transparent}
.rowContainer.chosen {overflow:visible}
#termsDiv {min-height:35px; margin-bottom:20px}
.form-stacked {padding-left: 0px;}
.employeebox{padding:15px 0 15px 0}
.rolebox{margin-bottom:15px}
em {
    color:red;
    font-size:14px
 }
em.rev {
    color: white;
}
em.legend {
    color:red;
    font-size:18px
}
fieldset.formContainer {
    border-bottom:1px solid black;
}
.container legend {
    color: #91520F;
    font-size: 22px;
    line-height: 36px
}
.container fieldset fieldset {
    margin: 0 15px 20px 15px;
    padding: 20px;
    border: 1px solid rgb(200, 183, 85);
    border: 1px solid rgba(57, 32, 6, .2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
.container fieldset fieldset legend {
    font-size: 16px;
}
.container .submitDiv {
    margin-top: -20px;
    margin-bottom: 20px;                   
 }

#submitFieldset {
    height: 100px;
    border-bottom: none;
}

.btn.primary {margin-left:0px}
.btn.primary.closeModal {
    float:right;
    margin-top:40px
}
#status {
    margin: 0px auto;
    padding-top: 5px;
    font-size:12px;
    color:Red
}
.rowContainer .ui-button{top:1px}
.ui-button { margin-left: -1px; }
.ui-button-icon-only .ui-button-text { padding: 0.35em; height: 16px } 
.ui-autocomplete-input  {
    width:230px;
    height: 14px;
    margin: 0;
    padding: 0.48em 0 0.47em 0.45em; 
}

.ie8 .ui-autocomplete-input, .ie9 .ui-autocomplete-input  {
    width:225px !important;
    height: 14px;
}
.ie8 .ui-button,.ie9 .ui-button  {
    top:-1px !important;
}
.dialogContent {display:none}
#submitFieldset .row {margin-bottom: 20px}
.pInput {
    width:250px;
    margin: 0;
    padding: 4px;
    font-size:13px;
    background-color: hsl(60, 50%, 95%);
    border: 1px dashed hsl(60, 60%, 50%);
    border-radius: 3px;
    height: 18px;
    color: #000;
}
.shortPInput{
    width: 145px;
}
.pTextArea {
    width:320px;
    margin: 0;
    padding: 4px;
    font-size:13px;
    background-color:#EAEAD0;
    border: 1px solid #CCC;
    border-radius: 3px;
    min-height: 18px;
    overflow-y: auto;
	overflow-x: hidden;
    word-wrap: break-word;
}
.pTextAreaWide {
    width: 680px;
}
#modal{
    display:none;
}
#modal .modal-body{
    max-height: 500px;
    height:300px;
    overflow-y:auto;
}