.formContainer{ font-family:Arial, Sans-Serif; font-size:83%; border:none; padding:30px;}
.formContainer h3{margin: 0px;padding: 5px;margin: 5px;font-size: 135%;background-color: #9DD4AC;text-align: center;margin-left:-15px;margin-right:-15px;margin-top: -15px;margin-bottom:30px;}

label.tooltipContainer{height:16px; font-size:11px; color: #666666; display:none; float:none; background-repeat:no-repeat; background-position:left center; padding:0px 20px;}

.rowContainer{/*width:100%;*/ overflow:hidden; padding-bottom:5px; min-height:0px; padding: 3px;}
.rowContainer.formActive{background-color: #cce1ff; border:1px solid #C6EDF9; border-radius:4px}
.rowContainer.formInvalid{background-color: #f1a794; border:1px solid #FBC7C6; border-radius:4px}

.rowContainer label.rowLabel{ width:auto; /*float:left;*/ color: #553; font-weight:bold;}
.rowContainer input[type="text"]{ width:250px;}
.rowContainer select{ width:200px;}
.rowContainer input[type="button"]{ width:100px; float: right;} 
.rowContainer input[type="submit"]{ width:100px; float: right;}

label.tooltipContainer.info{ background-image: url('./Images/formInfo.gif'); }
label.tooltipContainer.invalid{ background-image: url('./Images/formError.gif');}

.rowContainer.submitRow{ min-height:20px; }
.rowContainer.submitRow.formActive{background-color: Transparent;}
.rowContainer.submitRow.formInactive{background-color: Transparent;}