#newAccount label {
    width: 150px;
    display: block;
    float: left;
}
#newAccount input {
    width: 300px;
    margin: 0 0 5px 5px;
}
#newAccount fieldset {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    width: 380px
}
#newAccount .label_name {
    width: 72px;
    margin-right: 3px
}
#newAccount li {
    list-style-type: none;
    margin-bottom: 15px;
}
#newAccount .label_csz {
    width: 50px;
    display: block;
    float: left;
}
#newAccount #FirstName, #newAccount #LastName {
    width: 145px;
}
#newAccount #City {
    width: 120px;
}
#State {
    width: 100px;
}
#newAccount #Zip {
    width: 65px
}
#newAccount .employment label {
    float: none;
    display: inline;
    margin-right: 25px
}
#newAccount .roles input, #newAccount .employment input{
    width: auto;
}