/*----------------------------------------------------------
Main web site CSS
----------------------------------------------------------*/

::-moz-selection { background: #BFBB8D; color: #fff; text-shadow: none; }
::selection { background: #BFBB8D; color: #fff; text-shadow: none; }
html, body {
    height: 100%;
}
div.page {
    position: relative;
    min-height: 100%;
    margin-bottom: -20px;
}
body, html {
    background-color: #674500;
    background-color: #BFBB8D;
    background-image: url(../images/dotSquare.png);
}
header {
    position: relative;
    top:0;
    height: 90px;
    width: 100%;
    display: block;
    border-bottom: 5px solid #674500;
    background-color: #C8D7D9;
    background-image: -webkit-gradient(linear, left bottom, right top, from(#C8D7D9), to(#9CB7BA));
    background-image: -webkit-linear-gradient(bottom left, #C8D7D9, #9CB7BA);
    background-image:    -moz-linear-gradient(bottom left, #C8D7D9, #9CB7BA);
    background-image:     -ms-linear-gradient(bottom left, #C8D7D9, #9CB7BA); 
    background-image:      -o-linear-gradient(bottom left, #C8D7D9, #9CB7BA);
    background-image:         linear-gradient(to top right, #C8D7D9, #9CB7BA);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#9CB7BA', EndColorStr='#C8D7D9');
}
header.landscapeHeader {
    background-color: #E9CE63;
    background-image: -webkit-gradient(linear, left bottom, right top, from(#E9CE63), to(#C38E22));
    background-image: -webkit-linear-gradient(bottom left, #E9CE63, #C38E22);
    background-image:    -moz-linear-gradient(bottom left, #E9CE63, #C38E22);
    background-image:     -ms-linear-gradient(bottom left, #E9CE63, #C38E22); 
    background-image:      -o-linear-gradient(bottom left, #E9CE63, #C38E22);
    background-image:         linear-gradient(to top right, #E9CE63, #C38E22);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#C38E22', EndColorStr='#E9CE63');
}
header.projectHeader {
    background-color: #ADD2AD;
    background-image: -webkit-gradient(linear, left bottom, right top, from(#ADD2AD), to(#70A970));
    background-image: -webkit-linear-gradient(bottom left, #ADD2AD, #70A970);
    background-image:    -moz-linear-gradient(bottom left, #ADD2AD, #70A970);
    background-image:     -ms-linear-gradient(bottom left, #ADD2AD, #70A970); 
    background-image:      -o-linear-gradient(bottom left, #ADD2AD, #70A970);
    background-image:         linear-gradient(to top right, #ADD2AD, #70A970);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#70A970', EndColorStr='#ADD2AD');
}
header.lasrProjectHeader {
    background-color: #FFAA00;
    background-image: -webkit-gradient(linear, left bottom, right top, from(#FFAA00), to(#FF9900));
    background-image: -webkit-linear-gradient(bottom left, #FFAA00, #FF9900);
    background-image:    -moz-linear-gradient(bottom left, #FFAA00, #FF9900);
    background-image:     -ms-linear-gradient(bottom left, #FFAA00, #FF9900); 
    background-image:      -o-linear-gradient(bottom left, #FFAA00, #FF9900);
    background-image:         linear-gradient(to top right, #FFAA00, #FF9900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FF9900', EndColorStr='#FFAA00');
}
header.portalHeader {
    background-color: #e2e2e2;
    background-image: -webkit-gradient(linear, left bottom, right top, from(#e2e2e2), to(#fefefe));
    background-image: -webkit-linear-gradient(bottom left, #e2e2e2, #fefefe);
    background-image:    -moz-linear-gradient(bottom left, #e2e2e2, #fefefe);
    background-image:     -ms-linear-gradient(bottom left, #e2e2e2, #fefefe); 
    background-image:      -o-linear-gradient(bottom left, #e2e2e2, #fefefe);
    background-image:         linear-gradient(to top right, #e2e2e2, #fefefe);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#e2e2e2');
}
header .pills {
    position: absolute;
    width: 940px;
    bottom: 1px;
    left: 10px;
    margin: 0;
    max-height:40px;
}
header .pills a {
    color: #735d36;
    text-shadow:none;
    padding: 0 13px;
}
header .pills a:hover {
    color: #444;
    background-color: #9cb7ba;
}
header.landscapeHeader .pills a {
    padding:0px 25px;
}
header.landscapeHeader.landscapeSearchHeader .pills a {
    padding: 0px 15px;
}
header.landscapeHeader .pills a:hover {
    color: #444;
    background-color: #C38E22;
}
header.landscapeHeader .pills .active a {
    background-color: #B25334;
}
header.landscapeHeader h1.planName, header.landscapeHeader h1.planName a {color: #773722;}

header.projectHeader .pills .active a {
    color: #fff;
    background-color: #4B9B4B;
}
header.projectHeader .pills a:hover {
    color: #444;
    background-color: #70A970;
}
header.projectHeader h1.planName, header.projectHeader h1.planName a {color: #506250;}

header.lasrProjectHeader h1.fundedProjectName, header.lasrProjectHeader h1.fundedProjectName a {color: #506250;}


h1.fundedProjectName{
    position: absolute;
    width: 500px;
    margin: 0 auto;
    top: 5px;
    text-decoration:none
;
    font-size: 30px;
    left: 15px;
    color: #506250;
    font-weight: normal;
}
h1.fundedProjectName a {
    color: #506250;font-weight: normal;overflow: hidden;text-overflow: ellipsis;max-width: 400px;display: block;float: left;
}
h1.fundedProjectName span.status {
   max-width: 100px;
}


header #title h1 {
    color: #D9D094;
    position: absolute;
    left: 5%;
    top: 0;
    padding: 0;
}

#userBar {
    list-style: none;
    position: absolute;
    text-align: right;
    right: 107px;
    top: 10px;
}
#userBar li 
{
    display:inline;
    margin-left: 5px;
    padding-left: 6px;
    border-left: 1px solid #474747;
}
#userBar .username {
    border: none;
    color: #474747;
}
#userBar a {
    color: #65731e;
}
header.landscapeHeader #userBar a, header.projectHeader #userBar a {
    color: #773722;
}
header.landscapeHeader p, header.projectHeader p {
    color:#773722;
}
#userBar a:hover {
    text-decoration: underline;
    cursor: pointer;
}
header div {
width: 940px;
margin: 0 auto;
position: relative;
height: 90px;
}
.status {
font-size: 12px;
margin-left: 10px;
display: block;
float: left;
line-height: 4;
}
.smartLogo {
    position: absolute;
    right: -37px;
    top: 0;
    z-index: 15;
    height: 106px;
    width: 125px;
    background-image: url(../images/pacManLogo.png);
}

header.landscapeHeader .smartLogo, header.projectHeader .smartLogo {
    background-image: url(../images/pacManLessShadow.png);
}
.smartWEB {
position: absolute;
right: 107px;
bottom: 3px;
color: #65731e;
font-size: 32px;
}
.smartWEB img {
margin-left: 11px;
margin-bottom: -1px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.alert-message.subtle {
    background-color: #EBECC6;
    border: 0;
    box-shadow: inset 0px 5px 20px #cca;
    border-radius: 10px;
    padding: 20px;
}
.alert-message h4 {
    line-height: 18px;
    margin-bottom: 10px;
    color: #775;
}






section#main {
    width: 100%;
    height: 100%;
    bottom: 0;
}
#errMsg {
    padding:10%;
}
h2 {
    color:#91520F;
}
.inputs-list li {
    margin: 0 0 5px;
}

a:visited {
}

input, textarea, select {
    color: #655;
}


input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    background-color: #eaead0;
    border-color: #dcc;
}


.container {
    max-width: 900px;
    background-color: #f1f2da;
    padding: 20px;
    bottom: 0;
    position: relative;
    height: 100%;
    box-shadow: 5px 0 6px #aa7, -5px 0 5px #aa7;
}
.container fieldset + fieldset {
    margin-top: 50px;
}



.saveArea .btn {
    white-space: nowrap;
}
.btn.saveArrow {
    background: none;
    background-color: #dddd99;
    position: relative;
    padding-right: 0px;
    padding-left: 12px;
    color: #444;
    overflow: visible;
    filter: none;
    border: none;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
}
.btn.saveArrow:hover {
    background-color: #E1D741;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    filter: none;
}
.btn.saveArrow:after {
   content:"";
   position: relative;
   top: -4px;
   left: 14px;
   width: 0px;
   height: 0px;
   border-width: 13.5px 0px 13.5px 14px;
   border-style: solid;
   border-color:transparent transparent transparent #dd9;
   z-index: 1;
   font-size: 0px;
}
.ie7 .btn.saveArrow {
    margin-right: 0px;
}
.btn.saveArrow:hover:after {
   border-color:transparent transparent transparent #E1D741;
}
.btn.saveAnd {
    padding-left: 10px;
    padding-right: 12px;
    background: none;
    background-color: #66b319;
    position: relative;
    font-weight: bold;
    color: #FFB;
    text-shadow: 0 1px 1px #130, 0 1px 0 #000000;
    filter: none;
    border: none;
    box-shadow: none;
    -webkit-transform: translateX(-1px);
}
.btn.saveAnd:hover {
    background-color: #9D5;
    color: #040;
    text-shadow: 0 1px 1px #9F5, 0 1px 0 #fff;
   filter: none;
}
.btn.saveAnd:before {
   content:"";
   position:relative;
   top: -4px;
   left: -10px;
   font-size: 0px;
   width:0px;
   height:0px;
   border-width:15px 0px 15px 15px;
   border-style:solid;
   border-color:transparent transparent transparent #f1f2da;
   font-size: 0px;
}

.alert-message.error {
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e22), to(#a22));
  background-image: -moz-linear-gradient(top, #e22, #a22);
  background-image: -ms-linear-gradient(top, #e22, #a22);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e22), color-stop(100%, #a22));
  background-image: -webkit-linear-gradient(top, #e22, #a22);
  background-image: -o-linear-gradient(top, #e22, #a22);
  background-image: linear-gradient(top, #e22, #a22);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e22', endColorstr='#a22', GradientType=0);
}


.btn.info, .alert-message.info 
{
  background-color: #117799;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#228EC3), to(#117799));
  background-image: -moz-linear-gradient(top, #228EC3, #117799);
  background-image: -ms-linear-gradient(top, #228EC3, #117799);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #228EC3), color-stop(100%, #117799));
  background-image: -webkit-linear-gradient(top, #228EC3, #117799);
  background-image: -o-linear-gradient(top, #228EC3, #117799);
  background-image: linear-gradient(top, #228EC3, #117799);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#228EC3', endColorstr='#117799', GradientType=0);
}

.breadcrumb {
  background-color: #999999;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#999), to(#48505B));
  background-image: -moz-linear-gradient(top, #999, #48505B);
  background-image: -ms-linear-gradient(top, #999, #48505B);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999), color-stop(100%, #48505B));
  background-image: -webkit-linear-gradient(top, #999, #48505B);
  background-image: -o-linear-gradient(top, #999, #48505B);
  background-image: linear-gradient(top, #999, #48505B);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#48505B', GradientType=0);
  border: 1px solid #777777;
-webkit-box-shadow: inset 0 1px 3px #F1F2DA;
-moz-box-shadow: inset 0 1px 3px #F1F2DA;
box-shadow: inset 0 1px 3px #F1F2DA;
}
.breadcrumb li {
  text-shadow: 0 1px 0 black;
}
.breadcrumb .divider {
  padding: 0 5px;
  color: #bfbfbf;
}
.breadcrumb .active a {
  color: #FF9;
  font-weight: bold;
}
.breadcrumb a {
  color: #fff;
}
h1.planName{
    position: absolute;
    width: 940px;
    margin: 0 auto;
    top: 5px;
    text-decoration:none
;
    font-size: 30px;
    left: 15px;
    color: #464c4c;
    font-weight: normal;
}
h1.planName a {color: #6d7177;font-weight: normal;overflow: hidden;text-overflow: ellipsis;max-width: 460px;display: block;float: left;}

.bumpUp {
    box-shadow: 0 0 8px 1px #fff, inset 1px 1px 5px 1px #888, -10px -10px 40px 10px #F9F9F8, 9px 9px 40px 10px #DDB;
    margin: 49px 0;
    background-color: #EBEBCA;
}
.highlightEdge {
    box-shadow: inset 1px 1px 8px #777, -3px -3px 50px 10px #fff;
    margin: 49px 0;
    background-color: #EBEBCA;
}



#pageFooter {
    background-color: #674500;
    margin: 0;
    padding: 0;
    color: #dcd0b8;
    font-size: 11px;
    border-top: 1px solid #420;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.tg {
    color: #a85;
    margin-left: 7px;
}
.tg:visited {
    color: #a85;
}
.tg:hover {
    color: #fff;
}
.version {
	float: right;
    color: #a85;
}
#pageFooter div {
    width: 940px;
    margin: 0 auto;
}
.pills .active a {
    background: #b0925b;
}
.searchBar {
    margin-top: 20px;
}
.searchBar ul {
    list-style: none;
    margin: 0;
    position: relative;
    left: 130px;
    margin-top: -29px;
    width: 350px;
}
.searchBar ul li {
    float: left;
}
.searchBar ul label {
    margin: 6px 0 5px;
    padding: 2px 12px 3px;
    color: #cca;
    border-radius: 15px;
    display: block;
}
.searchBar .selected {
    background: #DDB;
    color: #333;
}
.searchBar ul label:hover {
    background: #ffb;
    color: #999;
}

.searchBar .searchPlan {
    margin-left: -3900px;
    position: absolute;
}
input.searchPlan:checked + label, .searchBar label.selectedPlan {
    background: #DDB;
    color: #661;
}
.form-stacked .searchBar .clearfix {
    margin-bottom: 0px;
}
label.quickSearchLabel {
    margin-left: 20px;
    line-height:5px;
}

.vsExplain {
    text-align: center;
    color: #aa8;
    margin: -16px 0 5px 110px;
    font-size: 12px;
}
.vsExplain.span10 {
    margin: -3px 0 5px -3px;
}

#ui-datepicker-div{
    display:none;
}

#map {
    z-index: 10;
}

.jGrowlRedBackgroundColor 
{
    background-color: #FF0000 !important;
}
.jGrowlGrayBackgroundColor, div.jGrowl-closer
{
    opacity: 1 !important;
    color: #000 !important;
    background-color: #C8D7D9 !important;
}

.pills > li.pillLegendLi {
    max-height:40px;
}
header div.pillMapLegend {
    width: 8px;
    height: 8px;
    float:right;
    margin: 0;
    top: 9px;
    right: -5px;
    background-image: none;
}
header div.pillMapLegend.pillMapLegendPlan {
    background-color: rgba(134, 249, 134, 0.5);
    border: 2px solid #FF0000;
    border-radius: 2px;
}
header div.pillMapLegend.pillMapLegendStand {
    background-color:rgba(0, 102, 153, 0.5);
    border: 2px solid #FF6400;
    border-radius: 2px;
}
header div.pillMapLegend.pillMapLegendLine {
    background-color: transparent;
    color: #FF0080;
    height: 0px;
    width: 10px;
    top: -2px;
    right: -7px;
    font-size: 13px;
    font-weight: bold;
}
header div.pillMapLegend.pillMapLegendPoint {
    color: rgba(128, 0, 127, 0.8);
    height: 0px;
    width: 10px;
    font-size: 37px;
    top: 0px;
    right: -4px;
}

@-moz-document url-prefix() {
    .pills > li.pillLegendLi a {
        padding-right:20px;
    }
    header div.pillMapLegend.pillMapLegendLine {
        top: -2px;
        right: -10px; 
        font-size: 17px;
    }
    header div.pillMapLegend.pillMapLegendPoint {
        top: 0px;
        right: -5px;
    }
}

.ie8 .pills > li.pillLegendLi a {
    padding-right:20px;
}
.ie8 header div.pillMapLegend.pillMapLegendPlan {
    top: 9px;
    right: -6px;
}
.ie8 header div.pillMapLegend.pillMapLegendStand {
    top: 10px;
    right: -6px;
}
.ie8 header div.pillMapLegend.pillMapLegendLine {
    top: -2px;
    right: -14px;
}
.ie8 header div.pillMapLegend.pillMapLegendPoint {
    color: rgb(128, 0, 127);
    top: 0px;
    right: -12px;
}

.ie9 .pills > li.pillLegendLi a {
    padding-right:25px;
}
.ie9 header div.pillMapLegend.pillMapLegendPlan {
    top: -22px;
    right: -18px;
}
.ie9 header div.pillMapLegend.pillMapLegendStand {
    top: -21px;
    right: -18px;
}
.ie9 header div.pillMapLegend.pillMapLegendLine {
    top: -32px;
    right: -17px;
}
.ie9 header div.pillMapLegend.pillMapLegendPoint {
    top: -30px;
    right: -14px;
}

.container.inactive {
    border-top: 3px solid #833;
    margin-top: 34px;
}
.container.inactive:before {
    content: "• Plan is Inactive •";
    display: block;
    position: absolute;
    width: 90%;
    top: -29px;
    text-align: center;
    font-size: 35px;
    color: #833;
}

.container.inactive .planSummarySection {
    background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.6) 35px, rgba(255,255,255,.6) 70px);
}

.oldie .container.inactive .planSummarySection {
    border: 2px solid #bbb;
    padding: 3px;
    background-color: #eee;
}

.status.inactive {
    color: transparent;
}
.status.inactive:before 
{
    content: "Inactive";
    position: relative;
    color: #833;
    font-size:16px;
    font-weight: bold;
    top: -9px;
}
.loneString {
    margin: 0 25px 15px;
}
.softwareLogo {
    float: right;
    margin: -25px -10% 0 25px;
    height: 110px;
}
.helpDiv .well {
    padding: 1px 10px 10px;
}

.planSummaryModals{
    display:none;
}
.modal p {
    margin-left: 0px;
}
.planSummaryModalBody li{
    color:#000;
}
.planSummaryModalBody li.errorLI, .planSummaryModalBody li.warningLI, .projectSummaryModalBody li.errorLI, .projectSummaryModalBody li.warningLI {
    color: red;
    font-weight: bold;
}
.spinnerDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: #000;
    z-index: 10000;
    opacity: 0.5;
}
.btn.dangerLight {
  background-color: hsl(39, 70%, 46%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#da9e2e', endColorstr='#c78d23', GradientType=0);
  background-image: -khtml-gradient(linear, left top, left bottom, from(#da9e2e), to(#c78d23));
  background-image: -moz-linear-gradient(top, #da9e2e, #c78d23);
  background-image: -ms-linear-gradient(top, #da9e2e, #c78d23);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #da9e2e), color-stop(100%, #c78d23));
  background-image: -webkit-linear-gradient(top, #da9e2e, #c78d23);
  background-image: -o-linear-gradient(top, #da9e2e, #c78d23);
  background-image: linear-gradient(#da9e2e, #c78d23);
  border-color: #c78d23 #c78d23 hsl(39, 70%, 44.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09);
  -webkit-font-smoothing: antialiased;
}

div.form-stacked h2 {
    margin: 0px 0px 10px 60px;
    color: #91520F;
    font-size: 22px;
    font-weight:normal;
    line-height: 36px;
}

/* Spanish translation fixes - may need to be refactored later */


.pageInSpanish header .pills a {
    font-size: 90%;
}

@-moz-document url-prefix() {
    .pageInSpanish .pills > li.pillLegendLi a {
        padding-right:10px;
    }
    .pageInSpanish header div.pillMapLegend.pillMapLegendLine {
        right: -5px; 
        font-size: 17px;
    }
    .pageInSpanish header div.pillMapLegend.pillMapLegendPoint {
        right: -1px;
    }
}

.pageInSpanish .planSummaryGenInfo {
    height: 265px;
}
.pageInSpanish .landscapePlanSummaryContainer .planSummaryGenInfo {
    height: auto;
}
.pageInSpanish .planSummaryGoalsObjectives {
    margin-top: -215px;
    height: 185px;
}
.pageInSpanish .landscapePlanSummaryContainer .planSummaryGoalsObjectives {
    margin-top: 0px;
    height: auto;
}
.pageInSpanish .planSummaryPlanDetails {
    height: 260px;
}
.pageInSpanish .landscapePlanSummaryContainer .planSummaryPlanDetails {
    height: auto;
}
.pageInSpanish .planSummaryPlanFeatures {
    height: 260px;
}

.pageInSpanish .standsListHeader, .pageInSpanish .linesPointsHeader {
    height: 50px;
}
.pageInSpanish .viewOnlyStandList .standsListHeader, .pageInSpanish .viewOnlylinesPointsList .linesPointsHeader {
    height: 25px;
}
.pageInSpanish .planSummarySection .pagination ul li a {
    font-size: 12px;
}
.pageInSpanish .planSummarySection.planSummaryLinesPoints .pagination ul li a {
    padding: 0 2px;
    font-size: 12px;
}
.pageInSpanish .planSummarySection h4 {
    font-size: 15px;
}
.pageInSpanish .planSummarySection h4 span {
    font-size: 12px;
}

.pageInSpanish .addPlanActivityDiv span.addActivitySpan {
    margin-left: 30px;
}
.pageInSpanish .addPlanActivityDiv span a {
    font-size: 13px;
}
.pageInSpanish .planSummaryTooltip {
    margin-left: 230px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.addAccountsDiv {
    float: left;
    width: 100%;
    text-align: center;
    margin: 30px 0px 10px;
}
.addAccountsDiv a {
    width: 130px;
    background-color: #F8F8EC;
    margin: 0px 10px;
    padding: 10px;
    border-radius: 5px;
    font-size:15px;
}
.dashboardCenterDiv3.adminButtonsContainer {
    padding: 20px 25px;
}