﻿.addAccountsDiv {
    float: left;
    width: 100%;
    text-align: center;
    margin: 30px 0px 10px;
}

.addAccountsDiv a {
    width: 130px;
    background-color: #F8F8EC;
    margin: 0px 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
}

a.viewAllUsersLink {
    position: absolute;
    right: 30px;
    top: 8px;
    font-size: 15px;
}
