﻿@model ForestHealth.Web.Models.OutputModels.ForestHealthProject_CreateNewModel
@using ForestHealth.Web.Controllers
@using ForestHealth.Web.Helpers


@{
    ViewBag.Title = "CreateNew";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}

@section headStyles {
    <link rel="stylesheet" href="@Url.Content("~/Content/login.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Form.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/FormStyle.css")">
    @*<link rel="stylesheet" href="@Url.Content("~/Content/SMART/Stewplan/generalInfo.css")">
    <link type="text/css" href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/themes/custom-theme/jquery-ui-1.8.16.custom.css")" rel="stylesheet">
    <link type="text/css" href="@Url.Content("~/Content/lib/jquery.qtip.min.css")" rel="stylesheet">*@
}

@section headerNav {
    <h1 class="planName">Create New Project</h1>
}

<div class="container projectContainer">
    <form class="form-stacked" method="post" id="NewForestHealthProjectForm" action="@Url.Action("CreateNewPut", "ForestHealthProject")">
        <fieldset id="generalProjectDetails">
            <p><em>* </em>Indicates a required field</p>
            <div class="row">
                <div class="row rowContainer span5 offset1">
                    <label for="ProjectName" class="rowLabel">Project Name<em>* </em></label>
                    <input id="ProjectName" name="UserProjectName" type="text" value="@Model.UserEnteredProjectName" tabindex="2" />
                    <label for="ProjectName" class="tooltipContainer invalid">Validation</label>
                </div>

                <div class="row rowContainer span5 offset2">
                    <label for="ProjectType" class="rowLabel" title="Pick the Type for this Project">Project Type<em>* </em></label>
                    <select tabindex="1" id="ProjectType" name="ProjectType">
                        <option value=""></option>
                        @foreach (var item in Model.ProjectTypes)
                        {
                            <option value="@item.ProjectType">@item.ProjectType</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="row rowContainer span5 offset1">
                    <label for="Agency" class="rowLabel" title="Enter an Agency">Agency<em>* </em></label>
                    <input id="Agency" name="UserEnteredAgency" type="text" value="@Model.UserEnteredAgency" tabindex="2" />
                    <label for="ProjectID" class="tooltipContainer invalid">Validation</label>
                </div>

                <div class="row rowContainer span5 offset2">
                    <label for="FSRegion" class="rowLabel" title="Pick the FSRegion for this Project">FS Region<em>* </em></label>
                    <select tabindex="1" id="FSRegion" name="FSRegion">
                        <option value=""></option>
                        @foreach (var item in Model.FSRegions)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    </select>
                </div>

                <div class="row rowContainer span5 offset2">
                    <label for="RegionalID" class="rowLabel" title="Enter a Regional ID">Regional ID</label>
                    <input id="RegionalID" name="RegionalID" type="text" value="@Model.RegionalId" tabindex="3" />
                    <label for="RegionalID" class="tooltipContainer invalid">Validation</label>
                </div>

            </div>
            <div class="row">
                <div class="row rowContainer span5 offset1">
                    <label for="PrimaryState" class="rowLabel dateLabel" title="Enter the Primary State">Primary State<em>* </em></label>
                    <input class="SMARTdate validateOnSubmitOnly" id="PrimaryState" name="PrimaryState" type="text" value="@Model.PrimaryState" autocomplete="off" tabindex="4" />
                    <label for="PrimaryState" class="tooltipContainer dateTooltip invalid">Validation</label>
                </div>
                <div class="row rowContainer span5 offset2">
                    <label for="FiscalYear" class="rowLabel dateLabel" title="Enter the Fiscal Year">Fiscal Year<em>* </em></label>
                    <input class="nextDate validateOnSubmitOnly" id="FiscalYear" name="FiscalYear" type="text" value="@Model.FiscalYear" autocomplete="off" tabindex="5" />
                    <label for="FiscalYear" class="tooltipContainer dateTooltip invalid">Validation</label>
                </div>

                <div class="row rowContainer span5 offset2">
                    <label for="ProjectPriority" class="rowLabel dateLabel" title="Enter the Fiscal Year">Project Priority</label>
                    <input class="nextDate validateOnSubmitOnly" id="ProjectPriority" name="ProjectPriority" type="text" value="@Model.ProjectPriority" autocomplete="off" tabindex="5" />
                    <label for="ProjectPriority" class="tooltipContainer dateTooltip invalid">Validation</label>
                </div>
            </div>

            <div class="row">
                <div class="row rowContainer span5 offset1">
                    <label for="ProjectDescription" class="rowLabel" title="Description of the Proposed Project">Proposed Project Description</label>
                    <input class="nextDate validateOnSubmitOnly" id="ProjectDescription" name="ProjectDescription" type="text" value="@Model.ProjectDescription" autocomplete="off" tabindex="5" />
                    <label for="ProjectDescription" class="tooltipContainer invalid">Validation</label>
                </div>
            </div>

            @*@{Html.RenderPartial("_formErrorMsg");}*@

            <div class="row span8 offset8">
                <div class="row saveArea genInfoSave">
                    <input name="redirect" id="redirect" value="someRoute" type="hidden" />
                    <button tabindex="8" type="submit" value="save" class="btn saveArrow">Save</button>
                    <button tabindex="9" type="submit" value="saveAdvance" class="btn saveAnd">and go to Disturbances</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>





